password.txt
utils.cpython-35m-x86_64-linux-gnu.so
*.log
*.txt
*.json
__pycache__
folders_to_process.txt
temp-plot.html
paired_data.json
.DS_Store
.idea
completed/
preprocessing/
downloading/
failed/
